body {
    background-color:#fdfdff;
}
img {
    width:100%;
    height :100%;
}
.rm-topmost {
    z-index:50;
}
.rm-navbar .brand {
    padding:5px 100px 3px 100px;
}
.navbar-inner {
    background-color: #a4b9cc; 
    background-image: none;
    background-repeat: no-repeat;
    filter: none;
}
.navbar .nav{
    padding-top:5px;
    padding-bottom:3px;
}
.navbar .nav > li > a {
    text-shadow: none;
    color:  #002244;
    font-weight:bold;
}
.navbar .nav > li > img {
    height:30px;
    width:40px;
}

.rm-img-symbol{
    padding-top:0px;
    padding-left:10px;
    padding-right:10px;
}
.rm-img-symbol img{
    margin:0px;
    height:30px;
    width:50px;
}
.rm-active {
    border-top: #aaaaaa 1px solid;
    border-left: #aaaaaa 1px solid;
    border-right: #aaaaaa 1px solid;
}
.rm-active a{
    color:#444;
    font-weight:bold;
}
.rm-active a:hover {
    text-decoration:none;
}
.tft-margin1 {
    margin:2px;
    padding:1px;
}
.tft-red-bottom-1 {
    border-bottom: #b90000 2px solid;
}
.tft-red-bottom-2 {
    border-bottom: #b90000 5px solid;
}
.tft-red-bottom-3 {
    border-bottom: #b90000 10px solid;
}
.tft-grey-bottom-1 {
    border-bottom: #7e7e7e 2px solid;
}
.tft-grey-bottom-2 {
    border-bottom: #7e7e7e 5px solid;
}
.tft-grey-bottom-3 {
    border-bottom: #7e7e7e 10px solid;
}
.tft-red-link a:hover {
    color:#990000;
    text-decoration:underline;
}
.rm-right-border {
    border-right:#aaaaaa solid 1px;
}
.rm-left-right-border {
    border-right:#aaaaaa solid 1px;
    border-left:#aaaaaa solid 1px;
}
.rm-top-bottom-border {
    border-top:#aaaaaa solid 1px;
    border-bottom:#aaaaaa solid 1px;
}
.rm-row {
    overflow:hidden;
    margin-left:1px;
    margin-right:1px;
    padding:0px;
}
.rm-container {
    margin-top: 10px
}
.rm-nav {
    margin:0px;
    padding:0px;
}

.rm-border{
    border:#cccccc solid 1px;
}
.rm-welcome-banner {
    margin-top:5px;
    margin-bottom:5px;
    background-color: #fff;
    border:#cccccc solid 1px;
}
.rm-welcome-banner li{
    text-align:left;
    margin-right:0px;
    padding:0px;
    border-left:#eeeeee solid 1px;
    border-right:#eeeeee solid 1px;
}
.rm-welcome-banner a {
    color:#000;
}
.rm-welcome-banner > .rm-tour ul li{
    font-size:1.3em;
}
.rm-nav-quickstart {
    border-left:#cccccc solid 1px;
    border-right:#cccccc solid 1px;
}
.rm-nav-quickstart ul li{
    width:120px;
}
.rm-nav-quickstart ul li:hover{
    background-color: #fafafa;
}
.rm-nav-quickstart p{
    background-color:#596167;
    color:#fff;
    font-weight:bold;
    font-size:1.3em;
    padding:3px;
    margin:0px;
}
.rm-welcome-nav {
    background-color:#fff;
    max-height: 40px;
}
.rm-welcome-nav img{
    height: 38px;
    width:45px;
}
.rm-content,
.rm-sidebar {
    background-color:#fff;
}
.rm-sidebar h4 {
    padding: 3px;
    margin: 1px;
    border-bottom:#eaeaea solid 1px;
    font-weight:bold;
}
.rm-sidebar h4 a {
    color:#909090;
}
.rm-sidebar ul{
    padding-left:10px;
}
.rm-sidebar ul a{
    color:#576267;
}
.rm-post-input {
    background-color:#f0f0f0;
    margin-bottom:10px;
    border:#aaaaaa solid 1px;
    padding-bottom:5px;
}
.rm-borderless {
    border-width:0px;
}
#tft-home-tabs {
    margin: 0px;
    background-color:#d5d2c4
}
#tft-home-tabs a{
    color:black;
    font-weight:bold;
    font-size:1.1em;
}

.tft-head {
    border-right: 1px solid #a5a294;
    border-bottom: 3px solid #a5a294;
    background-color:#ededed;
    font-size:1.1em
}
.tft-tab-header {
    padding-left: 20px;
    background-color:#f0f0f0;
}
.tft-form-container {
    margin:0px;
    padding-left:0px;
    background-color:#fcfcfc;
}
.tft-dropdown-container {
    max-height:200px;
    overflow:auto;
}

.tft-family-toggle {
   text-align:left;
   height:10px;
}
.tft-family-select {
    float:left;
    margin-left:5px;
}
#search-results {
    margin-left:30px;
    background-color:#fff;
}
.tft-label-result {
    margin-top:10px;
    margin-right:20px;
}
.tft-page-container {
    margin-top:2px;
    margin-bottom:2px;
}

.tft-result-container {
    padding:10px;
}

