body {
    background-color:#fff;
}
img {
    width:100%;
    height :100%;
}
.rm-img-logo {
    width:150px;
    height:35px;
}
a {
    color:#456788;
}
.modal-backdrop, .modal-backdrop.fade.in {
    opacity: 0.2;
}
.tab-content,
.dropdown-menu { 
    z-index:51;
    overflow: visible;
}
.rm-white-btn {
    display:block;
    background-color:#fff;
    border:black 1px solid;
    width:200px;
    display: inline-block;
    *display: inline;
    padding: 4px 12px;
    margin-bottom: 0;
    *margin-left: .3em;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    text-align: right;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    cursor: pointer;
    border: 1px solid #bbbbbb;
    *border: 0;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-bottom-color: #a2a2a2;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.rm-dark-blue-btn {
    display:block;
    background-color:#576167;
    border:black 1px solid;
    display: inline-block;
    *display: inline;
    padding: 4px 12px;
    margin-bottom: 0;
    *margin-left: .3em;
    font-size: 14px;
    font-weight:bold;
    line-height: 20px;
    color: #fff;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    cursor: pointer;
    border: 1px solid #bbbbbb;
    *border: 0;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-bottom-color: #a2a2a2;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.img-post {
    width:60px;
    height:50px;
}
.rm-navbar .brand {
    padding:5px 100px 0px 100px;
    border-right:#cccccc solid 2px;
}
.navbar-inner {
    background-color:#59616a;
   /* background-color: #a4b9cc; */
    background-image: none;
    background-repeat: no-repeat;
    filter: none;
}
.navbar .nav{
    padding-top:5px;
    padding-bottom:0px;
}
.navbar .nav > li > a {
    text-shadow: none;
    color:  #fff;
    font-weight:bold;
    font-size:1.3em;
}
.navbar .nav > li > img {
    height:30px;
    width:40px;
}
.rm-img-symbol{
    padding-top:0px;
}
.rm-img-symbol img{
    margin:0px;
    height:30px;
    width:35px;
}
.rm-img-symbol-big img{
    margin:0px;
    padding:0px;
    height:60px;
    width:65px;
}
.rm-active {
    border-top: #aaaaaa 1px solid;
    border-left: #aaaaaa 1px solid;
    border-right: #aaaaaa 1px solid;
}
.rm-active a{
    color:#444;
    font-weight:bold;
}
.rm-active a:hover {
    text-decoration:none;
}
.rm-product-info-box {
    margin:50px 5px 5px 100px;
    padding:0px 5px 5px 5px;
    border:#f0f0f0 solid 10px;
    overflow:hidden;
}
.rm-product-info-box li {
    margin-bottom:10px;
    border-bottom:#00b0f0 solid 1px;
}

.rm-login-container {
    margin:50px 5px 5px 5px;
    padding:0px 5px 5px 5px;
    border:#cccccc solid 1px;
    overflow:hidden;
}
.rm-login-heading {
    margin-bottom:5px;
    text-align:center;
    background-color:#fff;
    border-bottom:#dadada solid 2px;
}
.tft-red-bottom-1 {
    border-bottom: #b90000 2px solid;
}
.tft-red-bottom-2 {
    border-bottom: #b90000 5px solid;
}
.tft-red-bottom-3 {
    border-bottom: #b90000 10px solid;
}
.tft-grey-bottom-1 {
    border-bottom: #7e7e7e 2px solid;
}
.tft-grey-bottom-2 {
    border-bottom: #7e7e7e 5px solid;
}
.tft-grey-bottom-3 {
    border-bottom: #7e7e7e 10px solid;
}
.tft-red-link a:hover {
    color:#990000;
    text-decoration:underline;
}
.rm-right-border {
    border-right:#aaaaaa solid 1px;
}
.rm-left-right-border {
    border-right:#aaaaaa solid 1px;
    border-left:#aaaaaa solid 1px;
}
.rm-top-bottom-border {
    border-top:#aaaaaa solid 1px;
    border-bottom:#aaaaaa solid 1px;
}
.rm-row {
    overflow:hidden;
    margin-left:1px;
    margin-right:1px;
    padding:0px;
}
.rm-container {
    margin-top: 10px
}
.rm-nav {
    margin-bottom:0px;
    padding:0px;
}

.rm-bottom-border{
    border-bottom:#456789 solid 1px;
}
.rm-green-border{
    border:#56789a solid 1px;
}

.rm-welcome-banner {
    margin-top:0px;
    margin-bottom:5px;
    background-color: #fff;
}
.rm-welcome-banner li{
    text-align:left;
    margin-right:0px;
    padding:0px;
    border-left:#eeeeee solid 1px;
    border-right:#eeeeee solid 1px;
}
.rm-welcome-banner a {
    color:#000;
}
.rm-welcome-banner > .rm-tour ul li{
    font-size:1.3em;
}
.rm-nav-quickstart {
    border-left:#cccccc solid 1px;
    border-right:#cccccc solid 1px;
}
.rm-nav-quickstart ul li{
    width:120px;
}
.rm-nav-quickstart ul li:hover{
    background-color: #fafafa;
}
.rm-nav-quickstart p{
    background-color:#596167;
    color:#fff;
    font-weight:bold;
    font-size:1.3em;
    padding:3px;
    margin:0px;
}
.rm-welcome-nav {
    margin-left:0px;
    background-color:#fff;
    max-height: 40px;
    border-top:#456789 solid 1px;
    border-bottom:#456789 solid 2px;
}
.rm-welcome-nav img{
    height: 38px;
    width:45px;
}
.rm-content,
.rm-sidebar {
    background-color:#fefeff;
}
.rm-sidebar h5 {
    padding: 1px 0px 2px 1px;
    margin-bottom: 2px;
    border-bottom:#eafaea solid 1px;
}
.rm-sidebar li h5 a {
    color:#596167;
    text-transform:uppercase;
    font-size:0.9em;
    font-weight:bold;
}
.rm-sidebar ul{
    padding-left:10px;
}
.rm-sidebar ul a{
    color:#333333;
}
.rm-post-input {
    overflow:visible;
    background-color:#f5f5f5;
    margin-bottom:10px;
    padding-bottom:5px;
}
.rm-post {
    background-color:#fff;
    padding:5px;
    border-bottom:#abcdef solid 1px;
}
.rm-post-text {
    padding-left:10px;
}

.rm-borderless {
    border-width:0px;
}
#tft-home-tabs {
    margin: 0px;
    background-color:#d5d2c4
}
#tft-home-tabs a{
    color:black;
    font-weight:bold;
    font-size:1.1em;
}

.tft-head {
    border-right: 1px solid #a5a294;
    border-bottom: 3px solid #a5a294;
    background-color:#ededed;
    font-size:1.1em
}
.tft-tab-header {
    padding-left: 20px;
    background-color:#f0f0f0;
}
.tft-form-container {
    margin:0px;
    padding-left:0px;
    background-color:#fcfcfc;
}
.tft-dropdown-container {
    max-height:200px;
    overflow:auto;
}

.tft-family-toggle {
   text-align:left;
   height:10px;
}
.tft-family-select {
    float:left;
    margin-left:5px;
}
#search-results {
    margin-left:30px;
    background-color:#fff;
}
.tft-label-result {
    margin-top:10px;
    margin-right:20px;
}
.tft-page-container {
    margin-top:2px;
    margin-bottom:2px;
}

.tft-result-container {
    padding:10px;
}

/*=======PROFILE=======*/
.rm-profile-header {
}
.rm-name-header {
    background-color:#fff;
    max-height: 40px;
    padding-bottom:10px;
}
.rm-goal-preview {
    background-color:#fff;
    border-top:#456789 solid 1px;
    border-bottom:#456789 solid 2px;
    height: 120px;
    margin-bottom:5px;
    overflow:auto;
}
.rm-goal-preview h4 {
    color:#456789;
}