<ul class="rm-post row nav nav-tabs inline">
  <li class="span1 img-post">
    <img src="{{ STATIC_URL }}img/rm_avatar.jpg" class="img-polaroid" alt="">
  </li>
  <li class="span11">
    <ul class="nav nav-stacked"> 
      <li>
        <ul class="rm-nav inline">
          <li>
            <ul class="rm-nav inline">
              <li><a href="/profile/heyla@gmail.com"><h4>Linda Nolie</h4></a></li>
            </ul>
          </li>
          <li class="pull-right">
            <ul class="rm-nav inline">
              <li><a class="pull-right"><h4>4/24/13 - 5/12/13</h4></a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="rm-post-text"><p>I want to get a finish this project by May. This might be the next best thing</p></li>
      <li>
        <ul class="inline">
          <li>
            <ul class=" inline">
              <li><a>Follow</a></li>
              <li><a href="#rm-monitor-modal" role="button" data-toggle="modal">Monitor</a></li>
              <li><a>Encourage</a></li>
              <li><a>Help</a></li>
            </ul>
          </li>
          <li class="pull-right">
            <ul class=" inline">
              <li><a>Hide</a></li>
              <li><a>Report</a></li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </li>
</ul>
<ul class="rm-post row nav nav-tabs inline">
  <li class="span1 img-post">
    <img src="{{ STATIC_URL }}img/rm_avatar.jpg" class="img-polaroid" alt="">
  </li>
  <li class="span11">
    <ul class="nav nav-stacked"> 
      <li>
        <ul class="rm-nav inline">
          <li>
            <ul class="rm-nav inline">
              <li><a href="/profile/heyla@gmail.com"><h4>Alice Trotter</h4></a></li>
              <li><a href="/profile/heyla@gmail.com"><h4> - </h4></a></li>
              <li><a href="/profile/heyla@gmail.com"><h4>Linda Nolie</h4></a></li>
            </ul>
          </li>
          <li class="pull-right">
            <ul class="rm-nav inline">
              <li><a class="pull-right"><h4>4/06/13 - 4/12/13</h4></a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="rm-post-text"><p>Do your taxes</p></li>
      <li>
        <ul class="inline">
          <li>
            <ul class=" inline">
              <li><a>Follow</a></li>
              <li><a href="#rm-monitor-modal" role="button" data-toggle="modal">Monitor</a></li>
              <li><a>Encourage</a></li>
              <li><a>Help</a></li>
            </ul>
          </li>
          <li class="pull-right">
            <ul class=" inline">
              <li><a>Hide</a></li>
              <li><a>Report</a></li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </li>
</ul>

<!-- SUGGESTED FRIEND -->
<li class="rm-friends-preview">
  <ul class="inline ">
    <li class="span12 inline rm-overflow-hidden">
      <img src="{{ STATIC_URL }}img/rm_avatar.jpg" class="img-friend-preview" alt="">
      <a href="/profile/{{ user.username }}">{{user.first_name}} &nbsp;{{user.last_name}}</a>
      <a class="pull-right btn btn-success btn-mini">Add</a>
    </li>
  </ul>
</li>
