{% extends "base.html" %}
{% block body %}
<script id="tft-expt-types" type="text/javascript">
  var authorization = "{{ authorization }}"
  var goals = {{ goals|safe }}
  var suggestedFriends = {{ suggested_friends|safe }}
  var avatar = {{ STATIC_URL }}+"img/rm_avatar.jpg"
  console.log(goals)
  console.log(authorization)
</script>
<script type="text/javascript" src="{{ STATIC_URL }}js/gb_components.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/rm_profile.js"></script>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span9">
      <div class="container-fluid rm-container">
        <div class="row-fluid rm-white">
          <div class="span3">
            <ul class="nav nav-stacked"> 
              <li class="rm-img-profile">
                <img src="{{ STATIC_URL }}img/rm_avatar.jpg" class="span12 img-polaroid" alt="">
              </li>
              <li>
                <ul class="nav nav-stacked rm-nav">
                  <li>
                    <ul class="nav rm-nav nav-tabs inline">
                      <li><h6><a>Welcome</a></h6></li>
                      <li class="pull-right"><a class="btn btn-mini">Edit</a></li>
                    </ul>
                  </li>
                  <li>
                    <ul class="nav nav-pills inline">
                      <li><a><blockquote>
                            “If you have no one to encourage you, instead of using that as an excuse for failure, encourage yourself and use that as a reason why you must succeed.”<small><cite title="Source Title">Kevin Ngo</cite></small>
                        </blockquote></a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li>
                <ul class="nav rm-sidebar">
                  <li class="span12 inline">
                    <h5>
                      <a>Goals</a>
                      <a class="pull-right">Visible to Public</a>
                    </h5>
                  </li>
                  <li>
                    <ul class="thumbnails">
                      <li class="span4">
                        <a class="thumbnail rm-stats">
                         <p>Achieved</p>
                          <h1>0</h1>
                        </a>
                      </li>
                      <li class="span4">
                        <a class="thumbnail rm-stats">
                         <p>In Progress</p>
                          <h1>0</h1>
                        </a>
                      </li>
                      <li class="span4">
                        <a class="thumbnail rm-stats">
                         <p>My List</p>
                          <h1>0</h1>
                        </a>
                      </li>
                    </ul>
                  </li>
                </ul>
                <ul class="nav rm-sidebar">
                  <li class="span12 inline">
                    <h5>
                      <a>Connections</a>
                       <a class="pull-right">Visible to Public</a>
                    </h5>
                  </li>
                  <li>
                    <ul class="thumbnails">
                      <li class="span4">
                        <a class="thumbnail rm-stats">
                         <p>Friends</p>
                          <h1>3</h1>
                        </a>
                      </li>
                      <li class="span4">
                        <a class="thumbnail rm-stats">
                         <p>Subscribers</p>
                          <h1>0</h1>
                        </a>
                      </li>
                      <li class="span4">
                        <a class="thumbnail rm-stats">
                          <p>Subscribed</p>
                          <h1>0</h1>
                        </a>
                      </li>
                    </ul>
                  </li>
                </ul>
                <ul class="nav rm-sidebar">
                  <li class="span12 inline">
                    <h5>
                      <a>Activities</a>
                      <a class="pull-right">Visible to Public</a>
                    </h5>
                  </li>
                  <li>
                    <ul class="thumbnails">
                      <li class="span6">
                        <a class="thumbnail rm-stats">
                         <p>Monitored</p>
                          <h1>0</h1>
                        </a>
                      </li>
                      <li class="span6">
                        <a class="thumbnail rm-stats">
                          <p>Supported</p>
                          <h1>0</h1>
                        </a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="span9">
            <div class="container-fluid">
              <div class="row-fluid">
                <ul class="nav nav-stacked span12"> 
                  <li class="rm-profile-name-header inline">
                    <h3>
                      <a>{{ user.first_name }} {{ user.last_name }}</a>
                    </h3>
                  </li>
                  <li class="rm-goal-preview">
                    <br>
                    <ul class="thumbnails">
                      <li class="span4">
                        <a class="thumbnail rm-stats"  href="#">
                          <h3>1 <small>This is my first cover goal</small></h3>
                        </a>
                      </li>
                      <li class="span4">
                        <a class="thumbnail rm-stats"  href="#">
                          <h3>2 <small>This is my second cover goal</small></h3>
                        </a>
                      </li>
                      <li class="span4">
                        <a class="thumbnail rm-stats"  href="#">
                          <h3>3 <small>This is my third cover goal</small></h3>
                        </a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <ul id="rm-profile-tab" class="nav nav-pills">
                      <li class="active"><a href="#rm-profile-activity">Activity</a></li>
                      <li><a href="#rm-profile-info">Info</a></li>
                      <li><a href="#rm-profile-goal-info">Goal Info</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
              <div class="row-fluid">
                <div class="span12">
                  <div class="tab-content">
                    <div class="tab-pane active " id="rm-profile-activity">
                      <!--Body content -->
                      <ul id="rm-post-tab" class="row nav-tabs rm-nav rm-row inline">
                        <li class="active"><a href="#rm-home-add-commitment"><strong>Add Commitment</strong></a></li>
                        <li><a href="#rm-home-assign-commitment"><strong>Assign Goal/Task</strong></a></li>
                        <li><a href="#rm-home-challenge-commitment"><strong>Take a Challenge</strong></a></li>
                      </ul>
                      <div class="tab-content">
                        <div class="tab-pane active" id="rm-home-add-commitment">  
                          <form id="rm-commit-form" class="row rm-row rm-post-input rm-green-border">
                            {% csrf_token %}
                            {{ commit_goal_form.goal }}
                            <ul class="nav">
                              <li class="pull-right">
                                <button type="submit" id="rm-commit-post-profile" class="rm-dark-blue-btn">I Commit</button>
                              </li>
                              <li class="pull-right dropdown">
                                <a href="#" class="dropdown-toggle btn" data-toggle="dropdown">Friends <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                  <li class="nav-header">Who can see this</li>
                                  <li id="rm-friends-selector-home" class="controls">
                                    <label class="checkbox text-left">
                                      <input type="checkbox" value="option1"> Select All
                                    </label>
                                  </li>
                                </ul>
                              </li>
                              <li class="pull-right">
                                <ul class="inline">
                                  {{ commit_goal_form.start_date }}
                                  {{ commit_goal_form.end_date }}
                                </ul>
                              </li>
                            </ul>
                          </form>
                        </div>
                        <div class="tab-pane" id="rm-home-assign-commitment">  
                          <ul class="nav rm-nav nav-pills inline span12 rm-green-border">
                            <li class="span6"><a href="#rm-assign-goal-modal" role="button" data-toggle="modal"><h4>Assign a goal</h4></a></li>
                            <li class="span6"><a href="#"><h4>Assign a small task</h4></a></li>
                          </ul>
                        </div>
                        <div class="tab-pane" id="rm-home-challenge-commitment">  
                          <ul class="nav rm-nav nav-pills inline span12 rm-green-border">
                            <li class="span6"><a href="#"><h4>Create a challenge</h4></a></li>
                            <li class="span6"><a href="#"><h4>Join a challenge</h4></a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="row rm-row rm-container">
                        <ul class="row rm-nav rm-row inline rm-bottom-border">
                          <li class="pull-right"><a href="#">Following</a></li>
                          <li class="rm-active pull-right"><a href="#">Recent</a></li>
                        </ul>
                        <div id="gb-recent-posts-profile">
                          <!--Recent Activities Ordered by date, popular...-->
                        </div>
                      </div>
                    </div>
                    <div class="tab-pane" id="rm-profile-info">
                      <div class="span6">
                        <ul class="nav nav-tabs inline">
                          <li><h4>About Me</h4></li>
                          <li class="pull-right"><a class="btn btn-mini">Edit</a></li>
                        </ul>
                        <p class="rm-green-border">hdh djds iiis fuhfsd ijfsdfhsd iid jdfsdfisdf ivsfi vsdvisdvisdivvvmv
                          sfgvdvsfujsfvdfv ffu fufr fffi frf rfhhg rrg rrjg rgijr riiiie dap rpari r
                          arfe f f rfr
                        </p>
                      </div>
                      <div class="span6">
                        <ul class="nav nav-tabs inline">
                          <li><h4>My Info</h4></li>
                          <li class="pull-right"><a class="btn btn-mini">Edit</a></li>
                        </ul>
                        <dl class="dl-horizontal rm-green-border">
                          <dt>Birthday</dt>
                          <dd>August 17, 2000</dd>
                          <dt>Gender</dt>
                          <dd>Male</dd>
                          <br>
                          <dt>Contact Info</dt>
                          <dd><address>
                              1578 Neil Avenue<br>
                              Columbus, OH 43210<br>
                              <abbr title="Phone"></abbr> (614) 329-4344
                            </address>
                            <address>
                              <strong>{{ user.first_name }} &nbsp; {{ user.last_name }}</strong><br>
                              <a href="mailto:#">{{ user.username }}</a>
                            </address>
                          </dd>
                        </dl>
                      </div>
                    </div>
                    <div class="tab-pane" id="rm-profile-goal-info">
                      <div class="span3">
                        <h4>Goal Progress </h4>
                        
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<div class="span3">
      <div class="container-fluid"> 
        <div class="row-fluid">
          <div class="span12 rm-sidebar">
            <!--Ad content-->
            <ul class=" nav nav-stacked">
              <li><h5><a href="#">Today</a></h5></li>
              <li>
                <ul class=" nav nav-stacked">
                  <li><a href="#">Linda's Goal</a></li>
                </ul>
              </li>
              <li><h5><a href="#">This Week</a></h5></li>
              <li>
                <ul class="nav nav-stacked">
                  <li><a href="#">Your Goal Due</a></li>
                  <li><a href="#">Alice Goal Due</a></li>
                </ul>
              </li>
            </ul>
            <ul id="gb-suggested-friends" class="nav nav-stacked"> 
              <li class="span12 inline">
                <h5>
                  <a>Suggested Friends</a>
                  <a class="pull-right">View All</a>
                </h5>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- =====================Extras======================-->
<div id="rm-assign-goal-modal" class="modal hide in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="rm-assign-goal-modal-Label">Assign Goal</h3>
  </div>
  <div class="modal-body">
    <dl class="dl-horizontal">
      <dt>Goal Target(s)</dt>
      <dd class="dropdown">
        <a href="#" class="rm-white-btn dropdown-toggle" data-toggle="dropdown">Friends <b class="caret"></b></a>
        <ul class="dropdown-menu rm-stop-propagation">
          <li class="nav-header">Max 5</li>
          <li class="controls">
            <label class="checkbox">
              <input type="checkbox" value="option1"> Select All
            </label>
            <label class="checkbox">
              <input type="checkbox" value="option2"> Linda Nolie
            </label>
            <label class="checkbox">
              <input type="checkbox" value="option3">John Nolie
            </label>
            <label class="checkbox">
              <input type="checkbox" value="option3"> Joyce Mushayahama
            </label>
          </li>
        </ul>
      </dd>
      <br>
      <dt>Goal Name</dt>
      <dd><input type="text" placeholder="Goal Name (Be Specific)"></dd>
      <dt>Goal Description</dt>
      <dd><textarea rows="2" placeholder="Describe the goal" type="text"></textarea></dd>
      <dt>Award/Trophy</dt>
      <dd><select>
          <option>Just For Fun</option>
          <option>Cookies</option>
          <option>Money</option>
          <option>Date</option>
      </select></dd>
    </dl>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-success">Send Request</button>
  </div>
</div>

<div id="rm-monitor-modal" class="modal hide in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="rm-assign-goal-modal-Label">Monitor Linda's Goal</h3>
  </div>
  <div class="modal-body">
    <dl class="dl-horizontal">
      <dt>Goal Type</dt>
      <dd class="dropdown">
        <p><strong>Business</strong></h4>
      </dd>
      <dt>Goal Description</dt>
      <dd class="dropdown">
        <p>I want to get a finish this project by May. This might be the next best thing</p>
      </dd>
      <br>
      <dt>Time Period</dt>
      <dd>4/24/13 - 5/12/13</dd>
    </dl>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-success">Send Request</button>
  </div>
</div>
{% endblock %}
