{% extends "base1.html" %}
{% block body %}
<script type="text/javascript">
  $("#rm-sign-in-switch")
  .attr("href", "/login")
  .text("Sign In");
</script>
<div class="row rm-login-heading">
  <ul class="span4 inline"> 
    <li>
      <a><img src="{{ STATIC_URL }}img/logo.png" class="" alt=""></a>
    </li>
    <li class="pull-right">
      <h3>Sign Up</h3>
    </li>
  </ul>
</div>
<form action="" method="POST" >
  {% csrf_token %}
  {% if form.errors %} 
  <div class="alert alert-error">
    <p>Please correct fields {{forms.errors}}</p>
  </div>
  {% endif %}
  <div class="control-group form-inline">
    <div class="controls">
      {{ form.first_name }}
      {{ form.last_name }}
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      {{ form.email }}
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      {{ form.password }}
    </div>
  </div>
  
  <div class="control-group">
    <div class="controls">
      {{ form.verify_password }}
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      {{ form.birthdate }}
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      {{ form.gender }}
    </div>
  </div>
  
  <input class="btn btn-primary btn-medium pull-right" type="submit" value="Create Account" />
</form>
{% endblock %}
